

<ion-content class="landing-padding">

  <ion-card class="card-margin">
    <ion-card-header>
      <ion-card-title>Encuesta Covid</ion-card-title>
    </ion-card-header>
    <img class="img-size" src="../../assets/vaccine.svg" alt="">
    <ion-card-content>
      Con el fin de poder tener información precisa de nuestros casos covid en la comunidad, te invitamos a responder la siguiente encuesta,
          tambien podras obtener datos de casos covid ya reportados.
    </ion-card-content>
    <ion-button (click)="changeRoute()" color="primary" expand="full" shape="round">Continuar</ion-button>
  </ion-card>


</ion-content>
