<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      Mapa de calor
    </ion-card-header>
    <ion-card-content>
      <google-map #map apiKey="AIzaSyAsQhrCWksGPe8HXmICD4aj77QNMQvml5Q" heatMapPoints="{{positions}}"></google-map>
      <ion-button color="primary" (click)="refresh()" >Refrescar mapa</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Valores que muestran si persona tuvo contacto con otras
    </ion-card-header>
    <ion-card-content>
      <canvas #contacto></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Valores que muestran si persona contagio en casa
    </ion-card-header>
    <ion-card-content>
      <canvas #contagioEnCasa></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Valores que muestran si persona habia ingresado a algun hospital
    </ion-card-header>
    <ion-card-content>
      <canvas #ingresoHospitalario></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Valores que muestran si persona tuvo covid anteriormente
    </ion-card-header>
    <ion-card-content>
      <canvas #padecimientoCovid></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Valores que muestran si persona tuvo alguna recaida
    </ion-card-header>
    <ion-card-content>
      <canvas #recaida></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Valores que muestran si persona es sintomatica o asintomatica
    </ion-card-header>
    <ion-card-content>
      <canvas #tipoDePadecimiento></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>


